# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
1. List Popular Languages for Data Science
2. List common libraries used in Data Science
3. List different Data Science Tools
4. Conduct basic arithmetic in Python

Some of the popular languages that Data Scientists use are:

1. Python
2. SQL
3. C

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. MatplotLib

| Data Science Tools |
|:--------:|
|  R studio   |
|  Github  |
|  Jupyter Notebooks  |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#This a simple arithmetic expression to mutiply then add integers 
(3*4)+5

17

In [7]:
#This will convert 200 minutes to hours by dividing by 60
minutes = 200
hours = minutes//60
print(hours)

3

## Author
Rohan Rajesh